h1, h2{
	width: 95%;
	background:#0098cb;
	text-align:center;
	margin:20px  ;
	border:1px solid #000000;
	
}
header{
	background:#00cb3d;
	text-align:center;
	margin:20px  ;
}
footer{
	background:#adcb00;
	text-align:center;
	margin:20px  ;
}
section{
	background:#cb0000;
	float: left;
	text-align:center;
	margin:20px  ;
}
article{
	background:#cb0000;
	float: left;
}
nav{
	background:#00cb3d;
	text-align:center;
	margin:20px  ;
}
body{
	background:#adcb00;
	text-align:center;
	margin:20px  ;
}

