h1, h2{
	width: 95%;
	background:#0098cb;
	text-align:center;
	margin:20px  ;
	border:1px solid #000000;
	
}
header{
	background:#0098cb;
	text-align:center;
	margin:20px  ;
	border:1px solid #000000;
}
footer{
	background:#00adcb;
	text-align:center;
	margin:20px  ;
	border:1px solid #000000;
}
section{
	background:#75cafc77;
	float: left;
	width: 70%;

}
aside{
	background:#0098cb;
	float: left;
	width: 30%;
	
}
article{
	background:#0098cb;
	border:1px solid #000000;
}
nav{
	background:#00adcb;
	text-align:center;
	margin:20px  ;
	border:1px solid #000000;
}
body{
	background:#00adcb;
	text-align:center;
	margin:20px  ;
}
.contenedor::after{
	content: "";
	display: block;
	clear:both;
}
.menu{
	padding: 0px 20px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.menu>li {
	float: left;

}
.menu li a{
	background-color:#086ac5;
	text-decoration: none;
	padding: 20px 80px;
	display: block;

}
.menu li ul{
	display: none;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	min-width: 140px;

}
.menu li a:hover{
	background-color:chocolate;
}
.menu li:hover > ul{
	display: block;
}
.menu li ul li{
	position: relative;
}
.menu li ul li ul{
	right: ;
}
