h1, h2{
	width: 95%;
	background:#0098cb;
	text-align:center;
	margin:20px  ;
	border:1px solid #000000;
	
}

body{
	margin:5px;
	padding: 0;
	text-align:center;
	border button:3px;
	color: #000000;
	background:url(../imagenes/fondo.jpg);

	background-repeat:repeat-y;
	background-attachment:fixed
	

}
input[type="text"], input[type="password"]{
	outline: none;
	padding:30px;
	display:block;
	width:250px;
	border-radius: 3px;
	border:1px solid #eee;
	margin:20px auto;
}
